.bodyAddTask {
  margin: 0;
  background-color: rgba(246, 247, 248, 1);
  overflow-y: auto;
}

.addTaskMain {
  max-width: 1200px;
  margin: 208px auto 0 auto;
  margin-left: 328px;
  padding-bottom: 110px;
}

.taskForm {
  position: relative;
}

.mainTitle {
  color: rgba(0, 0, 0, 1);
  font-size: 61px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin-bottom: 50px;
  position: static;
}

.h2AddTask {
  font-size: 20px;
  line-height: 1.2;
  gap: 0px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  padding-left: 6px;
}

.headlineTextArea {
  display: flex;
}

.contentWrapperAddTask {
  display: flex;
  align-items: flex-start;
}

.mainTitle {
  margin: 0 0 40px 0;
}

.divider {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  color: rgba(209, 209, 209, 1);
}

.inputField {
  width: 418px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-left: 13px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 18px;
  cursor: pointer;
}

.inputField:focus {
  border: 2px solid #88e9fa;
  outline: none;
}

.OptionsContainer {
  margin-bottom: 13px;
  position: relative;
}

.ChoiceHeadline {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 1.2;
}

.buttonRequiredField {
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
  width: 1009px;
  align-items: center;
}

.requiredBottomLeft {
  display: flex;
  align-items: start;
}

.clearButton {
  border-radius: 10px;
  height: 56px;
  width: 100px;
  border: 1px solid;
  border-color: rgba(42, 54, 71, 1);
  background-color: rgba(246, 247, 248, 1);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createButton {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.createButtonIcon {
  height: 18px;
  width: 18px;
}
.taskButton {
  display: flex;
  gap: 16px;
}

.categorySelectWrapper {
  position: relative;
  display: inline-block;
}

.taskArrow {
  position: relative;
  right: 24px;
  top: 50%;
  height: 7px;
}

::-webkit-scrollbar {
    display: none;
}
