@media(max-width:1723px) {

    .tablecontainer tr {
        display: flex;
        height: unset;
    }

    .tablecontainer tr:nth-child(2n) {
        display: flex;
    }

    .taskContainer {
        margin-bottom: 20px;
        padding-top: 10px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 10px;
    }

    :root {
        --boardWith: calc(100vw - 424px);
    }

    .tablecontainer table {
        min-width: var(--boardWith);
    }

    .tableCategories {
        color: var(--GlobalBlue);
        font-weight: 700;
        font-size: 27px;
        display: flex;
        justify-content: space-between;
    }

    .taskMobileMove span {
        color: var(--GlobalWhite);
        font-size: 20px;
        text-align: center;
    }

    .taskMobileMenu {
        width: 120px;
        height: 130px;
        padding: 5px;
        gap: 20px;
        position: fixed;
        display: flex;
        flex-direction: column;
        background: var(--GlobalBlue);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px 20px 20px 20px;
        z-index: 25000;

    }

    .taskMobileMove table {
        border-collapse: collapse;

    }

    .taskMobileSubmenuItem {
        padding-left: 10px;
        margin-block-start: unset;
        margin-block-end: unset;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--GlobalLinkGray);
        text-decoration: none;
        background: transparent;
        border: none;
        cursor: pointer;
        text-align: left;
        transition: background 0.1s ease;
    }

    .taskMobileSubmenuItem:nth-child(odd) {
        border-radius: 8px 0px 0px 8px;
    }

    .taskMobileSubmenuItem:nth-child(even) {
        border-radius: 0px 8px 8px 0px;
    }

    .allTaskMobileSubmenuItem:hover {
        background-color: var(--GlobalDarkblue);
    }

    .tablecontainer td {
        flex-wrap: nowrap;
    }

    .mobileFieldProperties {
        overflow: auto;
        display: flex;
        max-width: var(--boardWith);
        gap: 20px;
    }

    .mobilePrioritiyandContacts {
        position: absolute;
        bottom: 10px;
        width: 252px;
    }

    .tablecontainer td .taskContainer {
        min-height: 263px;
        position: relative;
    }

    .tablecontainer td .noTaskField {
        min-height: unset;
        width: var(--boardWith);
    }

    .plusButtonBoard {
        width: 30px;
        height: 30px;
    }

    .searchBar input::placeholder {
        font-size: 20px;

    }

    .highlightTask {
        display: none;
    }
}

@media(max-width:1230px) {
    :root {
        --boardWith: calc(100vw - 424px);
    }

    .boardAddTaskButton {
        display: none;
    }

    .boardAddTaskButtonMobile {
        display: unset;
    }

    .whenMobile {
        display: none;
    }

    .searchBarMobile {
        display: unset;
    }

    .searchBar {
        width: var(--boardWith);
    }

    .searchBar input {

        width: calc(var(--boardWith) - 20px);

    }

    .noTaskField {
        width: calc(var(--boardWith) - 20px);
    }
}

@media(max-width: 995px) {
    .canvas-area {
        padding: 64px 30px;
    }
    :root {
        --boardWith: calc(100vw - 292px);
    }
}

@media (max-width: 769px) {
    :root {
        --boardWith: calc(100vw - 32px);
    }

    .canvas-area {
        padding: 64px 16px;
    }

    .mobileArrows {
        display: unset;
    }

}

@media (max-width: 750px) {
    .canvas-area {
        padding: 64px 16px;
    }
}

@media (max-width: 700px) {
    :root {
        --boardWith: calc(100vw - 32px);
    }

}

@media (max-width: 670px) {
    .taskMobileMenu {
        border-radius: 20px 0px 20px 20px;
    }
}

@media (max-width: 610px) {
    :root {
        --boardWith: calc(100vw - 32px);
    }
}

@media (max-width: 500px) {
    :root {
        --boardWith: calc(100vw - 32px);
    }

    .searchBar input {

        width: calc(var(--boardWith) - 90px);

    }
}

@media (max-width: 390px) {
    .canvas-area {
        padding: 64px 16px;
    }
}

@media (max-width: 350px) {
    :root {
       --boardWith: calc(100vw - 32px);
    }

    .mobileFieldProperties{
        gap: 15px;
    }

    .tablecontainer td .taskContainer{
        padding-right: 10px;
        padding-left: 1px;
    }

}
